apiVersion: v1
kind: Pod
metadata: 
 name: postgres-pod
 labels:
   name: postgres-pod
   app: demo-voting-app
spec:
  containers:
  - name: postgres
    image: postgres
    ports:
    - containerPort: 6379
    env:
     - name: POSTRGRES_USER
       value: "postgres"
     - name: POSTRGRES_PASSWORD
       value: "postgres"