apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deploy
  labels:
    name: postgres-deploy
    app: demo-voting-app
spec: 
  replicas: 1
  selector:
    matchLabels:
      name: postgres-pod
      app: demo-voting-app
  template:
    metadata: 
      name: postgres-pod
      labels:
        name: postgres-pod
        app: demo-voting-app
    spec:
      volumes: 
      - name: volmap
        configMap: 
          name: mapvolumes
      containers:
      - name: postgres
        image: postgres
        ports:
        - containerPort: 5432
        volumeMounts: 
         - name: volmap
           mountPath: /etc/name
        # env: 
        #  - name: POSTRGRES_USER
        #    value: "postgres"
        #  - name: POSTGRES_PASSWORD
        #    value: "postgres"